@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron bg-info">
    <h1>Welcome to the Wedding Planner</h1>
</div>

<div class="row">
    <div class="col-lg-6 mb-4">
        <partial name="UserPartial" />
    </div>
    <div class="col-lg-6 mb-4">
        <partial name="LoginUserPartial" />
    </div>
</div>